<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-4">
      <!-- Card Section -->
      <div class="card shadow">
        <!-- Card Header -->
        <div class="card-header bg-success">
          <!-- Display Student Name in Header -->
          <h3 class="text-light">Edit Recipe (<%= user.dish %>)</h3>
        </div>

        <!-- Card Body -->
        <div class="card-body p-4">
          <!-- Edit Student Form -->
          <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">

            <!-- Student Name Input -->
            <div class="mb-3">
              <label for="dish">Dish Name</label>
              <input type="text" name="dish" class="form-control form-control-lg" placeholder="Enter Dish" value="<%= user.dish %>" required />
            </div>

            <!-- GPA Input -->
            <div class="mb-3">
              <label for="ingredients">Ingredients</label>
              <input type="text" name="ingredients" class="form-control form-control-lg" placeholder="Enter Ingredients" value="<%= user.ingredients %>" required />
            </div>

            <!-- Student ID Input -->
            <div class="mb-3">
              <label for="instructions">Instructions</label>
              <input type="text" name="instructions" class="form-control form-control-lg" placeholder="Enter Instructions" value="<%= user.instructions %>" required />
            </div>

            <!-- Image Selection -->


            <!-- Submit Button -->
            <div class="mb-3 d-grid">
              <input type="submit" name="submit" value="Update Recipe" class="btn btn-success btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
